<%- include('partials/header') %>
<div>
  <div class="container m-3">
    <a class="btn btn-light" href="/register" role="button">Register</a>
    <a class="btn btn-dark" href="/login" role="button">Login</a>
  </div>
</div>
<%- include('partials/footer') %>
